<div class="content">
  <div class="container-fluid">
  	<div class="card">
	  	<div class="header">
	      <h2>New Task</h2>
	    </div>
		<%= render 'form', task: @task, project: @project %>
	</div>
  </div>
</div>




