<div class="content">
  <div class="container-fluid">
  	<div class="card">
	  	<div class="header">
	      <h2>Editing Project</h2>
	    </div>
		<%= render 'form', project: @project %>
	</div>
  </div>
</div>
